@model WebAgentPro.Api.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentValue" class="control-label"></label>
                <input asp-for="CurrentValue" class="form-control" />
                <span asp-validation-for="CurrentValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualMileage" class="control-label"></label>
                <input asp-for="AnnualMileage" class="form-control" />
                <span asp-validation-for="AnnualMileage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaytimeRunningLights" /> @Html.DisplayNameFor(model => model.DaytimeRunningLights)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AntilockBrakes" /> @Html.DisplayNameFor(model => model.AntilockBrakes)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PassiveRestraints" /> @Html.DisplayNameFor(model => model.PassiveRestraints)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AntiTheft" /> @Html.DisplayNameFor(model => model.AntiTheft)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DaysDrivenPerWeek" class="control-label"></label>
                <input asp-for="DaysDrivenPerWeek" class="form-control" />
                <span asp-validation-for="DaysDrivenPerWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesDrivenToWork" class="control-label"></label>
                <input asp-for="MilesDrivenToWork" class="form-control" />
                <span asp-validation-for="MilesDrivenToWork" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReducedUsedDiscount" /> @Html.DisplayNameFor(model => model.ReducedUsedDiscount)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GarageAddressDifferentFromResidence" /> @Html.DisplayNameFor(model => model.GarageAddressDifferentFromResidence)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QuoteMultiplier" class="control-label"></label>
                <input asp-for="QuoteMultiplier" class="form-control" />
                <span asp-validation-for="QuoteMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
